
/* Meu seletor no css :)))) */
.cabecalho{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 20vh;
    background-color: burlywood;
    color: #fff;
}

.container{
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 60vh;
    background-color: #696969;
}

.container .central{
   flex-grow: 5;
   text-align: center;
}

.container .l-e{
    flex-grow: 1;
    background-color: #000000;
    text-align: center;
 }

.container .l-d{
    flex-grow: 1;
    background-color: 	#A9A9A9;
    text-align: center;
 }